NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SOLANA_NETWORK=mainnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_RPC_URL_MAINNET=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_RPC_URL_DEVNET=https://api.devnet.solana.com
AIVEN_VALKEY_URL=rediss://default:<password>@<host>:<port>/0
NEXT_PUBLIC_UMBRA_INDEXER_API_ENDPOINT=https://utxo-indexer.api.umbraprivacy.com
NEXT_PUBLIC_UMBRA_INDEXER_API_ENDPOINT_MAINNET=https://utxo-indexer.api.umbraprivacy.com
NEXT_PUBLIC_UMBRA_INDEXER_API_ENDPOINT_DEVNET=https://utxo-indexer.api.umbraprivacy.com
NEXT_PUBLIC_UMBRA_RELAYER_API_ENDPOINT=https://relayer.api.umbraprivacy.com
NEXT_PUBLIC_UMBRA_RELAYER_API_ENDPOINT_MAINNET=https://relayer.api.umbraprivacy.com
NEXT_PUBLIC_UMBRA_RELAYER_API_ENDPOINT_DEVNET=https://relayer.api.umbraprivacy.com
